<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.djmacgyver.bgt" android:versionName="0.6.0" android:versionCode="15">
    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature" android:name="net.djmacgyver.bgt.permission.C2D_MESSAGE" />
    <uses-permission android:name="net.djmacgyver.bgt.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/net.djmacgyver.bgt.style">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Map" android:label="@string/map_name" />
        <activity android:name=".activity.Settings" android:label="@string/settings" />
        <activity android:name=".activity.Signup" android:label="@string/new_user" />
        <activity android:name=".activity.MapSelection" android:label="@string/map_selection" />
        <activity android:name=".activity.TeamSelection" android:label="@string/teamselection" />
        <activity android:name=".activity.EventDetail" android:label="@string/event" />
        <activity android:name=".activity.Admin" android:label="@string/admin_commands" />
        <activity android:name=".activity.GCMAccountNotification" android:label="@string/app_name" />
        <activity android:name="com.facebook.LoginActivity" />

        <service android:name=".gps.GPSTrackingService" />
        <service android:name=".socket.SocketService" />
        <service android:name=".control.ControlService" />
        <service android:name=".GCMIntentService" />
        <uses-library android:required="true" android:name="com.google.android.maps" />

        <receiver android:name=".alarm.AlarmReceiver" android:process=":remote" />
        <receiver android:name=".GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        	<intent-filter>
        		<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        		<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        		<category android:name="net.djmacgyver.bgt"/>
        	</intent-filter>
        </receiver>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>
</manifest>