<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.djmacgyver.bgt" android:versionName="0.7.3" android:versionCode="19">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature" android:name="net.djmacgyver.bgt.permission.C2D_MESSAGE" />
    <uses-permission android:name="net.djmacgyver.bgt.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- needed by google maps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/net.djmacgyver.bgt.style">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Map"
                  android:label="@string/map_name"
                  android:parentActivityName=".activity.EventDetail">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="net.djmacgyver.bgt.activity.EventDetail" />
        </activity>
        <activity android:name=".activity.Settings"
                  android:label="@string/settings"
                  android:parentActivityName=".activity.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="net.djmacgyver.bgt.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.Signup" android:label="@string/new_user" />
        <activity android:name=".activity.EventDetail"
                  android:label="@string/event"
                  android:launchMode="singleTop"
                  android:parentActivityName=".activity.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="net.djmacgyver.bgt.activity.EventDetail"/>
        </activity>
        <activity android:name=".activity.Admin" android:label="@string/admin_commands" />
        <activity android:name=".activity.GCMAccountNotification" android:label="@string/app_name" />
        <activity android:name="com.facebook.LoginActivity" />

        <service android:name=".gps.GPSTrackingService" />
        <service android:name=".socket.SocketService" />
        <service android:name=".control.ControlService" />
        <service android:name=".GcmIntentService" />
        <uses-library android:required="true" android:name="com.google.android.maps" />

        <receiver android:name=".GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        	<intent-filter>
        		<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        		<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        		<category android:name="net.djmacgyver.bgt"/>
        	</intent-filter>
        </receiver>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCHJ-sFxvvg_QGmruzL2h8raAAplBRO55c"/>

    </application>
</manifest>